.about {
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;

  &__img {
    min-width: 150px;
    min-height: 320px;
  }

  &__title {
    margin: 0;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
  }

  &__description {
    margin: 0;
    font-family: "PT Mono";
    font-size: 16px;
    line-height: 21px;

    &--bottom {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &--hidden {
      display: none;
    }

    &--show {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    margin-left: 100px;
  }

  &__button {
    cursor: pointer;
    border: $color-deep-sky-blue solid 1px;
    border-radius: 3px;
    background-color: $color-transparent;
    color: $color-deep-sky-blue;
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 180px;
    text-transform: uppercase;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@include vp-1023 {
  .about {
    margin-bottom: 80px;
  }
}

@include vp-767 {
  .about__img {
    display: none;
  }

  .about__wrapper {
    margin-left: 0;
  }
}
