.logo {
  color: $color-default-white;
  display: flex;

  &__wrapper-title {
    font-family: "Roboto Condensed";
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 5px;
  }

  &__wrapper-description {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
}
